<style>
body{background-image:none;}
</style>
<h2>管理行程</h2>

<div style="margin-bottom: 18px;">
<a class="btn btn-primary" href="<%= new_plan_path%>">添加</a>
</div>

<% if @plans.any? %>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>总计花费</th>
        <th>更新时间</th>
      </tr>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
      <tr>
        
        <td><%= link_to plan.title,plan_path(plan) %></td>
        <td><%= plan.price %></td>
        <td><%= plan.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        
        <td>
          <%= link_to "修改",edit_plan_path(plan),:class => "btn" %>
          <%= link_to "删除",plan_path(plan),:class => "btn btn-danger",method: :delete, confirm: "确定?" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>